# Flask app settings
FLASK_ENV=development
FLASK_DEBUG=1

# MongoDB connection
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB=privacy_demo
MONGODB_COLLECTION=consented_device_info
ALLOW_USER_COLLECTION=allow_user

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
